*.iml
.androidide
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Signed bundles/APKs from Android Studio (Build > Generate Signed App Bundle)
/app/release/
/app/debug/
*.aab

# Signing keys and their passwords
*.jks
*.keystore
keystore.properties
