[submodule "app/src/main/cpp/libchdr"]
	path = app/src/main/cpp/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "app/src/main/cpp/zstd"]
	path = app/src/main/cpp/zstd
	url = https://github.com/facebook/zstd.git
